.RateTable-container {
  margin-top: 5em;
  display: grid;
  align-items: center;
}

.RateTable-nodata {
  color: darkgrey;
  font-size: large;
  display: flex;
  justify-content: center;
}

.RateTable-error {
  color: red;
  font-style: italic;
  display: flex;
  justify-content: center;
}
